.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    .hero-left {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding-left: 180px;
        line-height: 1.1;
        .hand-icon {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .hand-icon img {
            width: 100px;
        }
        .hero-latest-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            width: 300px;
            height: 70px;
            border-radius: 65px;
            margin-top: 30px;
            background: green;
            color: white;
            font-size: 22px;
            font-weight: 500;
        }
    }
    .hero-left h2 {
        color: #090909;
        font-size: 25px;
        font-weight: 600;
    }
    .hero-left p {
        color: #171717;
        font-size: 80px;
        font-weight: 700;
    }
    .hero-right {
        flex: 1;
    }
}