.related-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 80vh;
    .related-product-item {
        margin-top: 35px;
        display: flex;
        gap: 30px;
    }
}
.related-product h1 {
    color: #171717;
    font-size: 30px;
    font-weight: 600;
}
.related-product hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}