.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .footer-logo p {
    color: #383838;
    font-size: 28px;
    font-weight: 600;
  }
  .footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
  }
  .footer-links li {
    cursor: pointer;
  }
  .footer-social-icon {
    display: flex;
    gap: 30px;
    .footer-icon-container {
      padding: 10px;
      padding-bottom: 6px;
      background: #dcdcdc;
      border-radius: 10px;
    }
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
  }
  .footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background: #c7c7c7;
  }
}
